# TLS certificates
/**/*.pem

# transpiled files and dependencies
/node_modules
/public/vendors
/public/css

# ignore all config except default
/config/env/*
!/config/env/default.json
!/config/env/electron.json
/config/como-*.json

# application instance specific
.build
.data
.vendors

# dnsmasq temporary files
/dns/dnsmasq.leases
/dns/log
/dns/bin

# python
/**/__pycache__/

# ardour

/media/**/peaks
/media/**/export
/media/**/mp3

# junk files
package-lock.json
.DS_Store
Thumbs.db

projects/default/recordings/

NOTES.md
logs

electron-build
