/* user defined */
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #000000;
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Consolas, monaco, monospace, monospace;
}

body.loading {
  background-image: url(../images/loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#__soundworks-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/** emulated clients */
#__soundworks-container .emulate {
  float: left;
  width: 20%;
  min-width: 300px;
  height: 500px;
  outline: 1px solid #aaaaaa;
  position: relative;
}

#__soundworks-container .init-platform {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0.8;
  color: white;
  line-height: 400px;
  text-align: center;
  font-size: 4rem;
}

#__soundworks-container button {
  background-color: #454545;
  color: #ffffff;
  border: 1px solid #989898;
  border-radius: 3px;
}

#__soundworks-container select {
  border: 1px solid #686868;
  border-radius: 3px;
  width: 100%;
}

#__soundworks-container input {
  font-size: 16px;
  border: 1px solid #686868;
  border-radius: 3px;
}

#__soundworks-container .time {
  font-size: 60px;
}

#__soundworks-container .position>button {
  font-size: 16px;
  width: auto;
}

#__soundworks-container .position>.bar,
#__soundworks-container .position>.beat {
  font-size: 48px;
  padding: 0;
}

#__soundworks-container .position>.bar {
  width: 2.5em;
}

#__soundworks-container .position>.beat {
  width: 1.5em;
}

#__soundworks-container .sensorsLatency {
  display: none;
}

#__soundworks-container .controls-container {
  display: inline-flex;
}

#__soundworks-container .invalid {
  background-color: red;
}

