$background-color: black;
$color: white;

$active-color: red;
$active-border-color: $active-color;

$invalid-background-color: red;

$widget-background-color: #333333;
$widget-color: white;
$widget-border-color: #989898;

$widget-selected-color: black;
$widget-selected-background-color: white;
