@use 'color';

.player {
  font-size: medium;

  button {
    height: 36px;
    margin: 0;
    background-color: color.$widget-background-color;
    color: color.$widget-color;
    width: fit-content;
  }

  select {
    width: auto;
    max-width: 100%;
  }

  input {
    width: auto;
  }

  input,
  select {
    background-color: color.$widget-color;
    color: invert(color.$widget-color);
  }

  button,
  select,
  input {
    border-radius: 3px;
    border: 1px solid color.$widget-border-color;
    font-size: large;
    height: 3rem;
    text-align: center;

    &:active {
      border-color: color.$active-border-color;
      color: color.$active-color;
    }

    &.selected {
      background-color: color.$widget-selected-background-color;
      color: color.$widget-selected-color;
    }
  }

  button.display {
    align-self: center;
  }

  // .container {
  //   margin: 0.2rem;
  //   // border: 1px solid color.$widget-border-color;
  //   // border-radius: 3px;
  // }

  .group,
  .element {
    width: 100%;
    display: inline-block;

    // & > * {
    //   flex: auto;
    //   flex-grow: 0;
    //   flex-shrink: 0;
    //   margin-left: 0.5rem;
    //   margin-right: 0.5rem;
    // }

    // .text {
    //   align-self: center;
    //   flex-basis: auto;
    //   flex-grow: 0;
    //   flex-shrink: 0;
    // }

    .selection {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: baseline;
      gap: 0;

      .option {
        flex: auto;
        margin: 0;
      }
    }
  }

  .group {
    margin: 0.2rem;
    // border: 1px solid color.$widget-border-color;
    // border-radius: 3px;
  }

  .time {
    .text {
      font-size: 60px;
    }
  }

  .position {
    .bar {
      width: 2.5em;
    }

    .beat {
      width: 1.5em;
    }

    .bar,
    .beat {
      font-size: 36px;
      height: 36px;
      padding: 0;
    }
  }

  .count {
    .bar,
    .beat {
      width: 2.5em;
    }
  }

  .sensorsLatency {
    display: none;
  }

  // .controls.container {
  //   display: inline-flex;
  // }

  .invalid {
    background-color: color.$invalid-background-color;
  }
}
