@use 'color';

.player {
  font-size: medium;

  .flexContainer {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: row wrap;
    gap: 0; // no gap before Safari 12, use margin

    * {
      flex: auto;
      margin: 0.5rem;
    }

    &:is(.selection), // group options
    &:is(.nogap),
    &:is(.nomargin) {
      * {
        margin: 0;
      }
    }
  }

  button {
    height: 36px;
    margin: 0;
    background-color: color.$widget-background-color;
    color: color.$widget-color;
    width: fit-content;
  }

  select {
    max-width: 100%;
  }

  input {
    width: auto;
  }

  input,
  select {
    background-color: color.$widget-color;
    color: invert(color.$widget-color);
  }

  button,
  select,
  input {
    border-radius: 3px;
    border: 1px solid color.$widget-border-color;
    font-size: large;
    height: 3rem;
    text-align: center;

    &:active {
      border-color: color.$active-border-color;
      color: color.$active-color;
    }

    &.selected {
      background-color: color.$widget-selected-background-color;
      color: color.$widget-selected-color;
    }
  }

  button.display {
    align-self: center;
  }

  .group,
  .element {
    display: inline-block;
  }

  .group {
    width: 100%;
    margin: 0.2rem;
  }

  .clockTime {
    .text {
      font-size: 60px;
    }
  }

  .position {
    .bar {
      width: 2.5em;
    }

    .beat {
      width: 1.5em;
    }

    .bar,
    .beat {
      font-size: 36px;
      height: 36px;
      padding: 0;
    }
  }

  .count {
    .bar,
    .beat {
      width: 2.5em;
    }
  }

  .sensorsLatency {
    display: none;
  }

  .invalid {
    background-color: color.$invalid-background-color;
  }

  .uiConfiguration {
    .element {
      background-color: color.$ui-not-selected-background-color;
      border-radius: 3px;

      &:is(.uiSelected) {
        background-color: color.$background-color;
        border: thin;
        border-color: color.$ui-selected;
        border-style: dotted;
      }

      button.uiSelector {
        background-color: color.$ui-selector-background-color;
        border-color: color.$ui-selector-border-color;
        color: color.$ui-selector-color;

        &.selected {
          background-color: color.$ui-selector-color;
          color: color.$ui-selector-background-color;
        }
      }
    }
  }
}
