// defaults
@import 'soundworks';

// mobile clients
// generic
@import 'mobile';

// specific types of mobile clients
@import 'player';


.player-prod {
  &#__soundworks-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
  }

  @import 'player-prod';
}
